{% extends "wiki/base.html" %}

{% block content %}
<div id="reg_form">
  <form method="post">
    {% csrf_token %}
    {% for field in signup_form %}
      <div class="fieldWrapper">
        <!-- TODO: Throw in some cool design for login page-->
          {{ field.errors }}
          {{ field }}
          <br/>
          {% if field.help_text %}
            <p class="help">{{ field.help_text | safe }}</p>
          {% endif %}
      </div>
    {% endfor %}
    <button class="btn btn-default btn-lg btn-block" type="submit">Signup</button>
  </form>
</div>
{% endblock %}
