{% extends "wiki/base.html" %}

{% block content %}
  <div id="create-wiki-container">
    <div id="create-wiki-header">
      {% if page_form.instance.pk and page.title %}
        <h3>Edit - {{ page.title }}</h3>
      {% else %}
        <h3>Create a new wiki page.</h3>
      {% endif %}
      <hr/>
    </div>
    <form method="post">
      {% csrf_token %}
      {% for field in page_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field }}
            <br/>
            {% if field.help_text %}
              <p class="help">{{ field.help_text | safe }}</p>
            {% endif %}
        </div>
      {% endfor %}
      <button type="submit" id="create-wiki-button" class="btn btn-default btn-lg btn-block">
        {% if page_form.instance.pk %}
          Save
        {% else %}
          Create
        {% endif %}
      </button>
    </form>
  </div>
{% endblock %}
