{% extends "wiki/base.html" %}

{% block content %}
  <div id="page-display">
    {% if page %}
      <div id="page-display-header">
        <h3>{{ page.title }}</h3>
        <hr/>
        <div id="actions">
          <ul class="no-bullet">
            <li class="inline"><a href="{% url 'page_edit' slug %}">Edit</a></li>
            <li class="inline"><a href="{% url 'page_edit' slug %}">Share</a></li>
          </ul>
        </div>
        <br>
      </div>
      <div>
          {{ page.content | safe }}
      </div>
    {% else %}
      <div>
        The page you requested for doesn't exist. But you can <a href="{% url 'page_edit' slug %}">create</a> it.
      </div>
    {% endif %}
  </div>
{% endblock %}
