#create-wiki-container {
  margin: 2% auto;
  width: 50%;
}

#create-wiki-button {
  background-color: #367588;
  color: #ffffff;
}

#create-wiki-header {
  color: #367588;
}

#page-display {
  margin: 2% auto;
  width: 70%;
}

#page-display-header {
  color: #367588;
}

#actions {
  float: right;
}

#home-page-desc {
  display: inline-block;
  width: 65%;
  margin: 1% 0;
}

#recent-wikis {
  width: 30%;
  float: right;
  display: inline-block;
  margin: 3% 0;
}

.trim-btn-link {
  padding: 0;
}

#active-user {
  width: 40%;
  float: right;
  text-align: right;
}

#header {
  width: 100%;
  height: auto;
  margin-top: 1%;
}

.no-bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inline {
  display: inline;
}
